*{

    margin: 0px;
    box-sizing: border-box;
    background-color: purple;
}

.container{
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.rect{
    background-color: white;
    border: 2px;
    border-radius: 10px;
    
}
.box1{
    position: relative;
    background-color: red;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
    
}
.box2{
    position: relative;
    background-color: orange;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
}
.box3{
    position: relative;
    background-color: yellow;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
}
.box4{
    position: relative;
    background-color: green;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
}
.box5{
    position: relative;
    background-color: blue;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    transition: 1s;
}
.box6{
    position: relative;
    background-color: indigo;
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
}
.box7{
    position: relative;
    background-color: violet;   
    height: 500px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: 1s;
    display: flex;
    
}
.imag1{
    background-color: red;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag2{
    background-color: orange;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag3{
    background-color: yellow;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag4{
    background-color: green;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag5{
    background-color: blue;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag6{
    background-color: indigo;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.imag7{
    background-color: violet;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.box1:hover{

    flex:4;


}
.box2:hover{

    flex:4;


}
.box3:hover{

    flex:4;


}
.box4:hover{

    flex:4;


}
.box5:hover{

    flex:4;


}
.box6:hover{

    flex:4;


}
.box7:hover{

    flex:4;


}
img {
    height: auto;
    
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
.box1:hover img {

    
    visibility: visible;
     opacity: 1;
  }
 .box2:hover img {
    visibility: visible;
     opacity: 1;

 }
 .box3:hover img {
    visibility: visible;
     opacity: 1;

   }
   .box4:hover img {
    visibility: visible;
     opacity: 1;

   }
   .box5:hover img {
    visibility: visible;
     opacity: 1;

   }
   .box6:hover img {
    visibility: visible;
     opacity: 1;
   }
   .box7:hover img {
    visibility: visible;
     opacity: 1;
   }


 /*HEADER*/
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
    background-color: #f1f1f1;
  }

  .header-center{
    float: center;
    background-color: #f1f1f1;
  }

  
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .header2 {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header2 a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  
  .header2 a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header2 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header2 a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header2-centro{
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
  }

  .header2-center{
    float: center;
    background-color: #f1f1f1;
  }

  
  
  @media screen and (max-width: 500px) {
    .header2 a {
      float: none;
      display: block;
      text-align: left;
    }
    .header2-right {
      float: center;
    }
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
     }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    flex: 2;
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #f1f1f1;

    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  

  .headerprodutos{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .links-container{
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    flex: 8;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}